<!DOCTYPE html>
<html lang="en" ng-app="BlogApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
	</head>
	<body class="container-fluid">
		<section class="outer-wrapper" ng-controller="BlogAppController">
			<header>
				<h1 class="page-title" ng-bind="blog.title"></h1>
			</header>
			<div whenscrolling="loadBlogItems()">
				<ul ng-show="blogItems.length" class="blog-list">
					<li class="list-group" ng-repeat="item in blogItems">
						<article class="list-group-item">
							<h4 class="list-group-item-heading">{{item.title}}</h4>
							<p class="list-group-item-text" ng-bind-html="item.description | unsafe"></p>
						</article>
					</li>
				</ul>
				<h4 class="loading" ng-show="loading">Loading...</h4>
			</div>
		</section>
		<script type="text/javascript" src="js/blog-feed.js"></script>
	</body>
</html>