<section class="outer-wrapper">
	<header>
		<h1 class="page-title">Login</h1>
	</header>
	<form>
		<div ng-show="ctrl.error" class="alert alert-danger" role="alert">{{ctrl.error}}</div>
		<div ng-show="ctrl.message" class="alert alert-success" role="alert">{{ctrl.message}}</div>
		<div class="form-group">
			<label for="login-qa">What is your favorite ice-cream?</label>
			<input type="text" class="form-control" id="login-qa" ng-model="ctrl.user.answer" ng-focus="ctrl.clearAlert()">
		</div>
		<button type="submit" class="btn btn-success" ng-click="ctrl.doLogin()">Submit</button>
	</form>
</section>