<section class="outer-wrapper">
	<header>
		<h1 class="page-title">Login</h1>
	</header>
	<form>
		<div ng-show="ctrl.error" class="alert alert-danger" role="alert">{{ctrl.error}}</div>
		<div class="form-group">
			<label for="login-name">Login name</label>
			<input type="text" class="form-control" id="login-name" ng-model="ctrl.user.name" ng-focus="ctrl.clearError()">
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password" ng-model="ctrl.user.password" ng-focus="ctrl.clearError()">
		</div>
		<button type="submit" class="btn btn-success" ng-click="ctrl.doLogin()">Submit</button>
		<div class="forget-login" ng-click="ctrl.doForgetPwd()">Forget your password? Click here.</div>
	</form>
</section>