html, body, .outer-wrapper{
	height: 100%;
	font-size: 14px;
}

body{
	font-family: "Open Sans",sans-serif,sans-serif;
	color: #323232;
}

ul, ol{
	list-style-type: none;
}

ul.blog-list{
	padding: 0 10rem;
}

[whenscrolling]{
	height: 90%;
	overflow: auto;
	margin: 2rem 0;
}

.page-title{
	text-align: center;
    padding: 1rem 0;
    margin: 0 -15px;
    color: #fff;
    background-color: #00acee;
    font-weight: normal;
}

.list-group{
	margin-bottom: 4rem;
}

.list-group-item{
	background-color: #fafaff;	
	border: 1px solid #00acee;
}

.list-group-item-heading{
	font-size: 1.5rem;
    padding: 1rem 0;
    border-bottom: 5px solid #00acee;
    margin-bottom: 1rem;
}

.loading{
	color: #337ab7;
	text-align: center;
	margin: 2rem 0;
}

form{
	width: 50%;
	margin: 2rem auto;
	padding: 2rem;
}

.forget-login{
	margin: 2rem 0;
	cursor: pointer;
	text-decoration: underline;
	color: #00acee;
}

